{% include 'admin_header.html' %}
<!-- <br><br><br><br><br><br><br><br>

    <h1> Level Management Panel</h1>

    <form method="post">
        <table border="3">
            <tr>
                <th>Level</th>
                <td><input type="text" name="level"></td>
            </tr>
            <tr >
                <td colspan="2" align="center"><input type="submit" name="Level" value="submit"></td>
            </tr>
        </table>
    </form>

    <table border="1">
        <tr>
            <th>Level</th>
        </tr>
        {% for i in level %}
        <tr>
            <td>{{i.Lname}}</td>
            <td><a href="level_delete/{{i.Level_id}}">delete</a></td>
        </tr>
        {% endfor %}
    </table> -->

<main id="main" class="main">
  <div class="pagetitle">
    <h1>Level Management</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Pages</li>
        <li class="breadcrumb-item active">level</li>
      </ol>
    </nav>
  </div>
  End Page Title

  <section class="section contact">
    <div class="row gy-4">
      <div class="col-xl-6">
        <div class="card p-4">
          <form action="" method="post" class="php-email-form">
            <div class="row gy-4">
              <!-- <div class="col-md-6">
                        <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                      </div>
      
                      <div class="col-md-6 ">
                        <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                      </div> -->

              <div class="col-md-12">
                <input
                  type="text"
                  class="form-control"
                  name="level"
                  placeholder="Enter Level here"
                  required
                />
              </div>

              <!-- <div class="col-md-12">
                        <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
                      </div> -->

              <div class="col-md-12 text-center">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">
                  Your message has been sent. Thank you!
                </div>

                <button type="submit" name="Level" class="w-100">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-xl-6">
        <table class="table">
          <tr>
            <th>Level</th>
            <th></th>
          </tr>
          {% for i in level %}
          <tr>
            <td>{{i.Lname}}</td>
            <td><a href="level_delete/{{i.Level_id}}">delete</a></td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->
{% include 'admin_footer.html' %}
