<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <table>
            <tr>
                <th>name</th>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <th>phone</th>
                <td><input type="text" name="phone"></td>
            </tr>
            <tr>
                <th>email</th>
                <td><input type="text" name="email"></td>
            </tr>
            <tr>
                <th>age</th>
                <td><input type="text" name="age"></td>
            </tr>
            <tr>
                <th>gender</th>
                <td><input type="radio" name="gender" value="male">Male</td>
                <td><input type="radio" name="gender" value="female">Female</td>
            </tr>
            <tr>
                <th>height</th>
                <td><input type="text" name="height"></td>
            </tr>
            <tr>
                <th>weight</th>
                <td><input type="text" name="weight"></td>
            </tr>
            <tr>
                <th>Username</th>
                <td><input type="text" name="Username"></td>
            </tr>
            <tr>
                <th>password</th>
                <td><input type="text" name="password"></td>
            </tr>
            <tr >
                <td colspan="2"><input type="button" name="User" value="submit"></td>
            </tr>
        </table>
    </form>
</body>
</html>